html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
  /* font-family: 'Roboto', sans-serif; */
   /* Letra */
}

body {
  background-image: url('../img/pixlr-image-generator-caa1c658-b157-4ea7-915e-f2afb5cec9b8.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 { font-size: 3.5em; }
h2 { font-size: 2.7em; }
h3 { font-size: 2.5em; }
h4 { font-size: 1.5em; }
p { font-size:1em; }
a { text-decoration: none;}
ul, li { list-style: none; }

footer{
  background-color: #000000;
  color: #FFFFFF;
}
.about-us{
  display: flex; justify-content: flex-start; align-items: center; padding: 0.1px;
}
.about-us-pa{
  margin-left: 20px;
}


/* img {
  max-width: 100%;
  height: auto;
} */
/* Estilo general para la navbar */
.navbar {
  background-color: #000; /* Fondo negro para la navbar */
  color: #fff; /* Texto blanco para la navbar */
}

/* Estilo para los enlaces de la navbar */
.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff; /* Texto blanco para los enlaces y el brand */
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #ccc; /* Color gris claro para los enlaces y el brand al pasar el cursor */
  text-decoration: none; /* Sin subrayado al pasar el cursor */
}

/* Estilo para el botón de toggle de la navbar en dispositivos móviles */
.navbar-toggler {
  border-color: #fff; /* Borde blanco para el botón de toggle */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28155, 155, 155, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Color blanco para el ícono de toggle */
}

/* Estilo para los elementos dropdown */
.navbar .dropdown-menu {
  background-color: #000; /* Fondo negro para el dropdown */
  color: #fff; /* Texto blanco para el dropdown */
}

.navbar .dropdown-item {
  color: #fff; /* Texto blanco para los elementos del dropdown */
}

.navbar .dropdown-item:hover {
  background-color: #333; /* Fondo gris oscuro para los elementos del dropdown al pasar el cursor */
  color: #ccc; /* Texto gris claro para los elementos del dropdown al pasar el cursor */
  text-decoration: none; /* Sin subrayado al pasar el cursor */
}

/* Estilo para el separador en el dropdown */
.navbar .dropdown-divider {
  border-color: #444; /* Color gris oscuro para el separador */
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
} */

.white-square {
  background-color: rgb(75, 15, 152);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(248, 251, 251, 0.955);
  width: 30rem;
}

/* Estilo para el contenedor del título */
/* Estilo para el contenedor del título */
.title-container {
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  backdrop-filter: blur(10px); /* Desenfoque */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 20px; /* Agrega espacio desde arriba */
}

/* Estilo para el texto del título */
.mytitle {
  text-align: center;
  color: #fff; /* Cambia a blanco */
  margin: 0; /* Elimina los márgenes */
}

.error_messages{
  text-align: center;
  color: #829930; /* Cambia a blanco */
  margin: 0; /* Elimina los márgenes */
}



h2, p {
  font-size: 1.0rem;
  font-weight: bold;
  color: hsla(185, 55%, 87%, 0.971);
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #f0f7f8;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="password"] {
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 1rem;
  font-size: 1.1rem;
}

button[type="submit"] {
  height: 3rem;
  border-radius: 5px;
  border: none;
  background-color: #e6efe6;
  color: rgb(15, 16, 15);
  font-size: 1.1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

button[type="submit"] {
  margin-top: 20px;
}



/* Estilos para pantallas más pequeñas que 576px (como teléfonos móviles en orientación vertical) */
@media (max-width: 575.98px) {
  /* Agrega tus estilos específicos para pantallas pequeñas aquí */
}

/* Estilos para pantallas medianas de 576px a 767.98px (como teléfonos móviles en orientación horizontal y tabletas) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Agrega tus estilos específicos para pantallas medianas aquí */
}

/* Estilos para pantallas grandes de 768px a 991.98px (como tabletas en orientación horizontal) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Agrega tus estilos específicos para pantallas grandes aquí */
}

/* Estilos para pantallas extra grandes de 992px a 1199.98px (como pantallas de escritorio) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Agrega tus estilos específicos para pantallas extra grandes aquí */
}

/* Estilos para pantallas aún más grandes de 1200px en adelante (como pantallas de escritorio muy anchas) */
@media (min-width: 1200px) {
  /* Agrega tus estilos específicos para pantallas muy grandes aquí */
}

/* @media (max-width: 767.98px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container form {
    width: 100%;
  }

  .container input[type="text"],
  .container input[type="password"] {
    width: 100%;
    margin-bottom: 1rem;
  }
} */

.fa-solid{
  margin-top: 15;
  font-size: 2em;
}