{% extends './index.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}

{% block head %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.6/b-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.0/fh-4.0.1/r-3.0.2/rg-1.5.0/sc-2.4.2/sb-1.7.1/sp-2.3.1/sl-2.0.1/datatables.min.css" rel="stylesheet">

{% endblock head %}
{% block content %}
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Mis Reservas</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Reserva</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Termino</th>
                            <th>Local</th>
                            <th>Usuario Reservado</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserva in reservas %}
                            <tr>
                                <td>{{ reserva }}</td>
                                <td>{{ reserva.fechaInicio }}</td>
                                <td>{{ reserva.fecha_termino }}</td>
                                <td>{{ reserva.local.nombre }}</td>
                                <td>{{ reserva.cliente.username }}</td>
                                <td>{{ reserva.get_estado_display }}</td>
                                <td><a href="{% url 'reservation_detail' reserva.id %}">Ver</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">No tienes reservas</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>



{% endblock content %}
<!-- Bloque JS -->
{% block javascript %}

    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.6/b-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.0/fh-4.0.1/r-3.0.2/rg-1.5.0/sc-2.4.2/sb-1.7.1/sp-2.3.1/sl-2.0.1/datatables.min.js"></script>

    {% endblock script %}

{% endblock javascript %}
