
{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1></h1>
  {% block title %}{{ title }}{% endblock title %}

  {% block head %}
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}?v=29" />
  {% endblock head %}

  <div class="container">
    <h1>{{ title }}</h1>


    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <h1></h1>
      <button type="submit">Registrar</button>
    </form>
  </div>
{% endblock content %}

{% block javascript %}
  <!-- Aquí puedes incluir cualquier script adicional si es necesario -->
{% endblock javascript %}

